@font-face {
    font-family: "mitr";
    src: url(../font/mitr-regular.ttf);
}


@font-face{
    font-family: 'arsenal';
    src: url(../font/arsenal-regular.ttf);
}

@font-face {
    font-family: "apple";
    src: url('../font/apples-slices-capital.ttf');
}