@font-face {
    font-family: 'arsenal';
    src: url('../font/arsenal-regular.ttf');
}

@font-face {
    font-family: 'apple';
    src: url('../font/apples-slices-capital.ttf');
}

@font-face {
    font-family: 'mitr';
    src: url('../font/mitr-regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    margin-top: 0px;
    position: fixed;
    z-index: 1;
    background-color: #2d317a;
    display: inline-flexbox;
}

.container__menu{
    width: 100%;
    height: 80px;
    margin: 0;
}

.logo{
    height: 100%;
    display: flex;
    align-items: start;
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
}

.logo img{
    width: 60px;

}

.menu{
    display:flex;
    align-items: end;
    justify-content:baseline;
    margin-top: 6px;
}

.menu ul{
    display: flex;
    margin-right: 30px;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
    justify-content: baseline;
    align-items: baseline;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'mirt';
}

.font-arsenal{
    background: #5c64fa33;
    padding: 10px 40px;
    font-family: 'arsenal' !important;
    border-radius: 50px;
}

.navbar-one {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ul {
    height: 65px;
    float: right;
    margin-right: 20px;
}

.menu nav img{
    display: none;
}

.menu #btn_menu{
    display: none;
}
@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }

}

@media screen and (max-width: 720px){

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #5c63fa;
        font-family: 'mirt';
    }

    

    .menu nav img{
        display: block;
        width: 60px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }
}